@import url(http://fonts.googleapis.com/css?family=Iceland|Exo+2:300,300italic,600,600italic);
.container-fluid {
    font-family: 'Exo 2', sans-serif !important;
    font-size: 14px !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Iceland', cursive;
}
h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}
.small-caps {
    font-variant: small-caps;
}
.row {
    max-width: 95%;
}
q {
    font-style: italic;
}
#threats td, #threats th {
    vertical-align: top;
}
blockquote {
    font-style: italic;
}
#logo img {
    height: 180px !important;
}
#ship-img {
    text-align: center;
}
#ship-img img {
    height: 180px !important;
}
.arr-down, .arr-up {
    float: left;
    height: 2em;
    margin-right: .5em;
}
#diceroll td.nb {
    vertical-align: top;
    width: 20px;
    font-size: 1.7em;
    color: #bcbec0;
    font-weight: bold;
}
/* colors */
.light-blue {
    color: #00aeef;
}
.dark-blue {
    color: #007dad;
}
.upper {
    text-transform: uppercase;
}
.light-blue-bg {
    background-color: #00aeef;
    color: #000;
}
.dark-blue-bg {
    background-color: #007dad;
    color: #fff;
}
.dark-bg {
    background-color: #000;
    color: #fff;
}
.grey-bg {
    background-color: #d1d3d4;
}
